@tailwind base;
@tailwind components;
@tailwind utilities;





/* body {
  font-family: 'Plus Jakarta Sans', sans-serif;
} */

/* toggle or switch css for admin-management */
.toggle-container{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-container input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
  border: 1px solid #999;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00ce7a; 
  border-color: #00ce7a;
}

input:checked + .slider:before {
  transform: translateX(22px);
  background-color: white;
}